In [1]:
import pandas as pd
import numpy as np
import torch
import torch.nn as nn
import _pickle

In [2]:
with open('pkls/df_sum_latlng.pkl', 'rb') as f:
    df_sum_latlng = _pickle.load(f)

In [3]:
df_sum_latlng

,布団類,じゅうたん類,鞄類,座布団,枕,クッション,靴,イス,ダンボール,傘,プラスチック類,家電製品,発泡スチロール,total,lat,lng
53390336,5,2,0,1,0,3,1,0,0,0,1,0,0,13,35.362500,139.45625
53390337,12,1,0,2,5,5,4,0,0,0,0,0,1,30,35.362500,139.46875
53390338,1,0,0,0,0,0,0,0,0,0,0,0,0,1,35.362500,139.48125
53390344,2,3,0,0,0,4,0,0,0,0,0,0,0,9,35.370833,139.43125
53390345,12,6,0,5,3,5,0,0,0,0,0,0,0,31,35.370833,139.44375
53390346,8,4,0,2,1,0,0,0,0,0,0,1,0,16,35.370833,139.45625
53390347,6,0,0,0,2,2,0,0,0,0,0,0,0,10,35.370833,139.46875
53390348,1,0,0,1,3,0,0,0,0,0,0,0,0,5,35.370833,139.48125
53390352,0,0,0,0,0,0,0,0,0,0,0,0,0,0,35.379167,139.40625
53390353,0,0,0,0,0,0,0,0,0,0,0,0,0,0,35.379167,139.41875
53390354,3,0,0,0,0,4,0,0,0,0,0,0,0,7,35.379167,139.43125
53390355,10,5,0,2,0,5,0,0,0,0,1,1,0,24,35.379167,139.44375
53390356,7,2,0,0,0,2,0,0,0,0,0,0,0,11,35.379167,139.45625
53390357,1,0,0,0,0,1,0,0,0,1,0,0,0,3,35.379167,139.46875
53390358,3,1,0,2,1,0,0,0,0,0,0,0,0,7,35.379167,139.48125
53390359,0,0,0,0,0,0,0,0,0,0,0,0,0,0,35.379167,139.49375
53390362,0,0,0,0,0,0,0,0,0,0,0,0,0,0,35.387500,139.40625
53390363,0,0,0,0,0,0,0,0,0,0,0,0,0,0,35.387500,139.41875
53390364,1,0,0,0,0,0,0,0,0,0,0,0,0,1,35.387500,139.43125
53390365,0,0,0,0,1,0,0,0,0,0,0,0,0,1,35.387500,139.44375
53390366,3,7,0,0,0,3,0,0,0,0,0,0,0,13,35.387500,139.45625
53390367,8,2,0,4,2,3,4,0,0,0,1,0,0,24,35.387500,139.46875
53390368,3,1,0,0,0,1,0,0,0,0,0,0,0,5,35.387500,139.48125
53390372,0,0,0,0,0,0,0,0,0,0,1,0,0,1,35.395833,139.40625
53390373,4,0,0,3,1,2,1,0,0,0,0,0,0,11,35.395833,139.41875
53390374,2,0,0,1,0,1,0,0,0,0,0,0,0,4,35.395833,139.43125
53390375,6,0,0,0,0,3,0,0,0,0,0,1,0,10,35.395833,139.44375
53390376,9,4,0,2,1,4,0,0,0,0,0,0,0,20,35.395833,139.45625
53390377,16,5,0,4,4,8,2,0,2,0,2,0,0,43,35.395833,139.46875
53390378,2,0,0,0,0,1,0,0,0,0,0,0,0,3,35.395833,139.48125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53391307,11,6,1,5,1,1,3,0,0,1,0,0,0,29,35.420833,139.46875
52397388,5,6,0,1,0,4,0,0,0,0,0,0,0,16,35.320833,139.48125
53390410,9,1,0,2,2,1,0,0,1,0,0,0,0,16,35.345833,139.50625
52397387,12,1,0,2,10,2,0,0,0,0,0,0,0,27,35.320833,139.46875
52397389,3,0,0,1,0,3,0,0,0,0,0,0,0,7,35.320833,139.49375
53391306,4,5,0,1,0,4,0,0,0,0,1,0,0,15,35.420833,139.45625
52397395,12,8,0,6,4,6,0,0,0,1,4,0,0,41,35.329167,139.44375
52397396,5,3,0,0,3,1,2,0,0,0,2,0,0,16,35.329167,139.45625
52397397,5,3,0,0,1,0,1,0,0,0,1,0,0,11,35.329167,139.46875
52397398,9,2,0,0,0,2,0,0,0,0,1,0,0,14,35.329167,139.48125
53391317,3,0,0,0,0,1,0,0,0,0,0,0,0,4,35.429167,139.46875
52397399,4,4,0,1,0,0,0,0,0,0,0,0,0,9,35.329167,139.49375
53390420,0,1,0,0,0,1,0,0,0,0,0,0,0,2,35.354167,139.50625
53390305,10,11,0,2,1,5,0,0,0,1,3,0,0,33,35.337500,139.44375
53390306,14,17,0,5,2,17,1,0,0,1,0,0,0,57,35.337500,139.45625
53390307,6,5,0,1,0,3,2,0,0,0,0,0,1,18,35.337500,139.46875
53390308,8,8,0,2,1,2,1,0,0,0,0,0,0,22,35.337500,139.48125
53390309,7,3,0,3,2,3,0,0,0,0,1,0,0,19,35.337500,139.49375
53390315,10,1,0,0,1,6,0,0,0,0,2,1,0,21,35.345833,139.44375
53390316,10,4,0,3,4,5,0,0,0,0,0,1,0,27,35.345833,139.45625
53390317,6,4,0,2,2,7,2,0,0,1,1,0,0,25,35.345833,139.46875
53390318,13,7,0,0,1,6,2,0,0,0,2,1,0,32,35.345833,139.48125
53390319,6,3,0,3,5,5,3,0,0,1,1,0,0,27,35.345833,139.49375
53390325,6,0,0,3,1,5,2,0,0,1,0,0,0,18,35.354167,139.44375
53390326,2,2,0,1,0,2,1,0,0,0,0,0,0,8,35.354167,139.45625
53390327,2,1,0,0,2,2,0,0,0,0,0,1,0,8,35.354167,139.46875
53390328,1,2,0,0,1,3,0,0,0,0,0,0,0,7,35.354167,139.48125
53390329,8,9,0,2,2,1,1,0,0,0,1,0,0,24,35.354167,139.49375
53391358,0,0,0,0,0,0,0,0,0,0,0,0,0,0,35.462500,139.48125
53390335,5,6,0,1,3,5,0,1,0,0,0,0,0,21,35.362500,139.44375

In [4]:
matrix = np.random.randn(6,4)
test_df = pd.DataFrame(matrix, columns=list('ABCK'))

In [5]:
test_df

          A         B         C         K
0 -0.796301 -0.593578  1.091664  1.113410
1  0.208133  1.376135  0.835096  0.572831
2 -0.697036  0.527683  1.611502  1.910623
3 -0.020763  0.163935  0.680788 -0.720210
4  0.502840 -0.896477  0.728429 -1.637713
5 -0.538611 -1.289568  1.600751 -0.165521

In [6]:
import _pickle
with open("pkls/df_m3_item.pkl", "rb") as f:
    a = _pickle.load(f)

In [7]:
a

,布団類,じゅうたん類,鞄類,座布団,枕,クッション,靴,イス,ダンボール,傘,プラスチック類,家電製品,発泡スチロール
53390336,5,2,0,1,0,3,1,0,0,0,1,0,0
53390337,12,1,0,2,5,5,4,0,0,0,0,0,1
53390338,1,0,0,0,0,0,0,0,0,0,0,0,0
53390344,2,3,0,0,0,4,0,0,0,0,0,0,0
53390345,12,6,0,5,3,5,0,0,0,0,0,0,0
53390346,8,4,0,2,1,0,0,0,0,0,0,1,0
53390347,6,0,0,0,2,2,0,0,0,0,0,0,0
53390348,1,0,0,1,3,0,0,0,0,0,0,0,0
53390352,0,0,0,0,0,0,0,0,0,0,0,0,0
53390353,0,0,0,0,0,0,0,0,0,0,0,0,0
53390354,3,0,0,0,0,4,0,0,0,0,0,0,0
53390355,10,5,0,2,0,5,0,0,0,0,1,1,0
53390356,7,2,0,0,0,2,0,0,0,0,0,0,0
53390357,1,0,0,0,0,1,0,0,0,1,0,0,0
53390358,3,1,0,2,1,0,0,0,0,0,0,0,0
53390359,0,0,0,0,0,0,0,0,0,0,0,0,0
53390362,0,0,0,0,0,0,0,0,0,0,0,0,0
53390363,0,0,0,0,0,0,0,0,0,0,0,0,0
53390364,1,0,0,0,0,0,0,0,0,0,0,0,0
53390365,0,0,0,0,1,0,0,0,0,0,0,0,0
53390366,3,7,0,0,0,3,0,0,0,0,0,0,0
53390367,8,2,0,4,2,3,4,0,0,0,1,0,0
53390368,3,1,0,0,0,1,0,0,0,0,0,0,0
53390372,0,0,0,0,0,0,0,0,0,0,1,0,0
53390373,4,0,0,3,1,2,1,0,0,0,0,0,0
53390374,2,0,0,1,0,1,0,0,0,0,0,0,0
53390375,6,0,0,0,0,3,0,0,0,0,0,1,0
53390376,9,4,0,2,1,4,0,0,0,0,0,0,0
53390377,16,5,0,4,4,8,2,0,2,0,2,0,0
53390378,2,0,0,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
53391307,11,6,1,5,1,1,3,0,0,1,0,0,0
52397388,5,6,0,1,0,4,0,0,0,0,0,0,0
53390410,9,1,0,2,2,1,0,0,1,0,0,0,0
52397387,12,1,0,2,10,2,0,0,0,0,0,0,0
52397389,3,0,0,1,0,3,0,0,0,0,0,0,0
53391306,4,5,0,1,0,4,0,0,0,0,1,0,0
52397395,12,8,0,6,4,6,0,0,0,1,4,0,0
52397396,5,3,0,0,3,1,2,0,0,0,2,0,0
52397397,5,3,0,0,1,0,1,0,0,0,1,0,0
52397398,9,2,0,0,0,2,0,0,0,0,1,0,0
53391317,3,0,0,0,0,1,0,0,0,0,0,0,0
52397399,4,4,0,1,0,0,0,0,0,0,0,0,0
53390420,0,1,0,0,0,1,0,0,0,0,0,0,0
53390305,10,11,0,2,1,5,0,0,0,1,3,0,0
53390306,14,17,0,5,2,17,1,0,0,1,0,0,0
53390307,6,5,0,1,0,3,2,0,0,0,0,0,1
53390308,8,8,0,2,1,2,1,0,0,0,0,0,0
53390309,7,3,0,3,2,3,0,0,0,0,1,0,0
53390315,10,1,0,0,1,6,0,0,0,0,2,1,0
53390316,10,4,0,3,4,5,0,0,0,0,0,1,0
53390317,6,4,0,2,2,7,2,0,0,1,1,0,0
53390318,13,7,0,0,1,6,2,0,0,0,2,1,0
53390319,6,3,0,3,5,5,3,0,0,1,1,0,0
53390325,6,0,0,3,1,5,2,0,0,1,0,0,0
53390326,2,2,0,1,0,2,1,0,0,0,0,0,0
53390327,2,1,0,0,2,2,0,0,0,0,0,1,0
53390328,1,2,0,0,1,3,0,0,0,0,0,0,0
53390329,8,9,0,2,2,1,1,0,0,0,1,0,0
53391358,0,0,0,0,0,0,0,0,0,0,0,0,0
53390335,5,6,0,1,3,5,0,1,0,0,0,0,0

In [8]:
import folium
from folium.plugins import HeatMap

In [9]:
# 地図の基準として兵庫県明石市を設定
japan_location = [35, 135]

# 基準地点と初期の倍率を指定し、地図を作成する
map = folium.Map(location=japan_location, zoom_start=6, tiles='OpenStreetMap')

# 基準地点にマーカーを設置する
marker = folium.Marker(japan_location, popup='Akashi')
map.add_child(marker)

map

In [10]:
map2 = folium.Map(location=[45.523, -122.675], zoom_start=6)
#marker = folium.Marker(location=[45.5, -122.3], popup='abc')
#map2.add_child(marker)
a = []
a.append([45.5, -122.3])
a.append([46, -123])
hm = HeatMap(a)
map2.add_child(hm)
map2

In [11]:
df_iter = pd.DataFrame({'A':[1,2,3], 'B':[4,5,6]}, index=['a', 'b', 'c'])

In [12]:
df_iter

   A  B
a  1  4
b  2  5
c  3  6

In [13]:
for col in df_iter:
    print(col)

A
B

In [14]:
for key, col in df_iter.iteritems():
    print(key)
    print(col)
    print('')
    
for key, ind in df_iter.iterrows():
    print(key)
    print(ind)
    print('')

A
a    1
b    2
c    3
Name: A, dtype: int64

B
a    4
b    5
c    6
Name: B, dtype: int64

a
A    1
B    4
Name: a, dtype: int64

b
A    2
B    5
Name: b, dtype: int64

c
A    3
B    6
Name: c, dtype: int64

In [15]:
df2 = pd.DataFrame(np.random.rand(3,4), columns=['A', 'B', 'C', 'D'], index=['a', 'b', 'c'])

In [16]:
df2

          A         B         C         D
a  0.969990  0.132154  0.028900  0.128054
b  0.010910  0.688937  0.429901  0.748477
c  0.288667  0.281298  0.649182  0.837747

In [17]:
df2['D'] = 2 * np.ones(3)

In [18]:
df2

          A         B         C    D
a  0.969990  0.132154  0.028900  2.0
b  0.010910  0.688937  0.429901  2.0
c  0.288667  0.281298  0.649182  2.0

In [19]:
df3 = df2

In [20]:
for key, col in df3.iteritems():
    df3[key] = col / df3['D']

In [20]:
df3

          A         B         C    D
a  0.145733  0.262947  0.283838  1.0
b  0.312471  0.116889  0.189484  1.0
c  0.201671  0.058878  0.455236  1.0

In [22]:
list1 = list(['1', '2', '3'])

In [24]:
list1

['1', '2', '3']

In [25]:
df3['tmp'] = list1

In [26]:
df3

          A         B         C    D tmp
a  0.145733  0.262947  0.283838  1.0   1
b  0.312471  0.116889  0.189484  1.0   2
c  0.201671  0.058878  0.455236  1.0   3